body {
  font-family: "VT323", monospace;
}

#faculty-badge {
  height: 60px;
  width: 60px;
  border: 3px black solid;
  border-radius: 5px;
}

#player-stat-box {
  height: 85px;
  margin-top: 15px;
}

#gameplay-content-box {
  height: 200px;
  margin-top: 20px;
}

#user-interaction-box {
  height: 140px;
  margin-top: 15px;
}

#progress-bar {
  width: 50px;
  height: 15px;
  border-image-outset: 1;
}

/* #name {
  width: 50%;
} */

.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nes-btn {
  margin: 10px;
}

.row {
  display: block;
}

.column {
  width: 50%;
}

.align-items {
  height: 480px;
  width: 300px;
}

.width-50 {
  width: 50%;
}

.fit-content-width {
  width: fit-content;
  float: left;
}

.this-align-left {
  text-align: left;
}

.this-align-center {
  text-align: center;
}

.this-align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.this-display-block {
  display: block;
}

.margin-right-10 {
  margin-right: 10px;
}

.stat {
  display: block;
  height: 20px;
}

.bottom-container {
  padding: 10px 20px 10px 20px;
  border: 2px black solid;
  border-radius: 10px;
}

.choice-btn-half {
  width: 35%;
}
